body{
    font-family: 'Times New Roman', Times, serif !important;
}
.header-site {
    background-image: url(/img/pexels-kaboompics-com.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 320px;
}

.header-site #top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.size-img {
    width: 100% !important;
}

.size-img-small {
    width: 35% !important;
}

.size-img, .card {
    border-radius: 9px;
}

.content-site {
    margin-top: 30px;
    padding-bottom: 200px;
    padding: 20px;
}

.footer-site {
    padding-top: 5px;
}

.py-space {
    padding-top: 200px !important;
    padding-bottom: 180px !important;
}

.pt-space {
    padding-top: 200px !important;
}

.pb-space {
    padding-bottom: 100px !important;
}

.text-gradient {
    font: bold 40px Poppins, sans-serif;
    font-weight: bold !important;
    text-transform: uppercase;

}

.text-blue-bold{
    color: #0b2848 !important;
}
.c-orange{
    color: #db5031;
}

.text-gradient-small {
    font: bold 40px Poppins, sans-serif;
    font-weight: bold !important;
    text-transform: unset;
    color: #1bb1c2 !important;

}