.welcome {
    color: #011133;
    font-weight: bold !important;
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .welcome {
        color: #011133;
        font-weight: bold !important;
        font-size: 40px;
        position: relative !important;
        padding-top: 150px !important;
        text-align: center !important;
    }
}